{% extends "base-template.html" %}

{% block title %}
<title>Loved Jeans - Cart</title>
{% endblock %}

{% block main %}
<div id="checkout-main">
  <p class="hidden" id="items-url-container">{% url 'items' %}</p>
  <h3 class="cart-title">Your Cart</h3>
  {% if cart %}
    <table id='checkout-table'><tbody>
      <tr>
        <th class='checkout-table-header' colspan=2>Item</th>
        <th class='checkout-table-header' colspan=1>Price</th>
      </tr>
    {% for item in items %}
      <tr class='item-box' id='table-row-{{ item.sku }}'>
        <td class='item-image-cell'>
          <div class='item-box-image-container'>      
            <img class='item-box-image' src="{{ item.image_title.0 }}" alt='This image could not be loaded'>
          </div>
        </td>
        <td class='item-title-cell'>
          <div class='item-box-title-container'>
            <p class='item-box-title'>{{ item.title }}</p>
          </div>
        </td>
        <td class='item-price-cell'>
          <div class='item-box-price-container'>
            <p class='item-box-price'>£{{ item.price }}</p>
          </div>
        </td>         
        <td>
          <p class='hidden'>{{ item.sku }}</p>
          {% load static %}
          <img src="{% static 'media/remove.png' %}" class='remove-icon'> 
        </td>
      </tr>
    {% endfor %}
    </tbody></table>
  {% else %}
    <p id='cart-empty'>Your cart is currently empty</p>
    <a id='cart-empty-link' href="{% url 'items' %}">Click here to continue shopping</a>
  {% endif %}
  {% if cart %}<h3 class='cart-title' id='cart-total-price'>Total: £{{total}}</h3>
  <a id='proceed-checkout' href="{% url 'checkout' %}">Checkout</a>{% endif %}
</div>
{% load static %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}
