{% extends "base-template.html" %}

{% block title %}
<title>Lovedjeans - Delivery</title>
{% endblock %}

{% block main %}
<div id='policy-main'>
  <h1>Delivery</h1>
  <h3>Same Day Dispatch On All Orders Before 2pm</h3>
  <p>All orders placed before 2pm Monday to Friday will be dispatched that same day. If you place an order on a Friday after 2pm it will be dispatched the following Monday.</p>
  <h3>Delivery on all UK orders is free.</h3>
  <p>This is for UK customers only. Please see standard delivery details below.</p>
  <h3>Royal Mail 2nd Class Signed For:</h3>
  <p>Our standard UK service is Royal Mail 2nd Class Signed For and is free of charge. You should receive your order within 2-3 working days from the date of dispatch. Unfortunately we are not able to guarantee a specific delivery date. If you are out, a calling card will be left and you will need to arrange re-delivery yourself or collect the item from your nearest Royal Mail depot. If you fail to collect your item within the required time, it will be returned to us and re-dispatched at your cost.</p>
  <h3>European Delivery:</h3>
  <p>Our standard European service is Royal Mail International Signed For, and costs from £7.50. You should receive your order within 2-6 working days from the date of dispatch. Unfortunately we are not able to guarantee a specific delivery date. The charge for this service is determined by your location. This charge is confirmed both in your basket and before you make your payment. All deliveries require a signature upon receipt.</p>
  <h3>International Delivery (Rest Of The World):</h3>
  <p>Our standard International service is Royal Mail International Signed For, and costs from £8.50. You should receive your order within 3-7 working days from the date of dispatch. Unfortunately we are not able to guarantee a specific delivery date. The charge for this service is determined by your location. This charge is confirmed both in your basket and before you make your payment. All deliveries require a signature upon receipt.</p>
</div>
{% endblock %}