{% extends "base-template.html" %}

{% block title %}
<title>Lovedjeans - Returns</title>
{% endblock %}

{% block main %}
<div id='policy-main'>
  <h1>Returns Policy</h1>
  <p>We aim to process your return within 1 working day of it arriving on our premises. All returns for a refund must be organised within 30 days of placing your order. Items to be returned must be in their original condition and as originally described and photographed.</p>
  <h2>Returns Procedure:</h2>
  <p>If you would like to return an item(s) please print out your original order confirmation that was emailed to you when you completed the purchase and include this in the package. Please send your item back to the address below. We advise that all items are returned in suitable packaging to protect the product in transit. To ensure that your package arrives safely to our warehouse we normally advise that items are posted back via a signed on delivery service. We are not liable for any packages lost or damaged in the post.</p>
  <ul id="address-list">
    <li><strong>RETURNS</strong></li>
    <li><strong>FINMERE COTTAGE</strong></li>
    <li><strong>MERE ROAD</strong></li>
    <li><strong>FINMERE</strong></li>
    <li><strong>BUCKS</strong></li>
    <li><strong>MK18 4AR</strong></li>
  </ul>
  <p>Once the returned goods have been received, checked and verified, your card or PayPal account will be credited. We aim to process the return and refund within 2 working days</p>
  <p><em>Please be aware that customers are responsible for the cost of return postage unless the items is faulty or not correctly described</em></p>
</div>
{% endblock %}